.menu
  .menu__list-wrap
    ul.menu__list
      each val, index in['О нас','Разные-Равные','Наставники','Как помочь']
        if index == 0
          li.menu__item
            a(href="#")=val
        else
          li.menu__item
            a(href="#")=val
    ul.sub-menu
      each val, index in['Детские инклюзивные игровые площадки','Открываем мир','Кабинеты психолого-педагогической коррекции','Инклюзивное образование','Развитие талантов','Методическое сопровождение']
        li.sub-menu__item
          a(href="#")=val

    ul.sub-menu
      each val, index in['Кабинеты психолого- педагогической коррекции','Открываем мир','Инклюзивное образование','Развитие талантов','Детские инклюзивные игровые площадки','Методическое сопровождение']
        li.sub-menu__item
          a(href="#")=val

    ul.sub-menu
      each val, index in['Инклюзивное образование','Открываем мир','Детские инклюзивные игровые площадки','Развитие талантов','Кабинеты психолого- педагогической коррекции','Методическое сопровождение']
        li.sub-menu__item
          a(href="#")=val

    ul.sub-menu
      each val, index in['Кабинеты психолого- педагогической коррекции','Открываем мир','Детские инклюзивные игровые площадки','Инклюзивное образование','Развитие талантов','Методическое сопровождение']
        li.sub-menu__item
          a(href="#")=val



